@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

* {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

/* navigasi menu */

#this_menu {
    color: #1CE11C;
}

nav {
    background-color: white;
    position: sticky;
    width: 100%;
    left: 0px;
    top: 0px;
}

nav > div.container {
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

nav div.menu {
    display: flex;
    width: 500px;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
}

nav a {
    color: black;
}

nav a:hover {
    color: #1CE11C;
}

nav a#daftar_button {
    background-color: #1CE11C;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 50px;
}

nav a#daftar_button:hover {
    background-color: transparent;
    color: #1CE11C;
    box-shadow: 0px 0px 0px 2px #1CE11C;
}

/* navigasi menu */

a.button{
    text-decoration: none;
    color: black;
    border:1px solid greenyellow;
    padding: 10px 10px;
    border-radius: 7px;
    background-color: greenyellow;
}

h2.atas{
    text-align: center;
}

.awal{
    display: flex;
    align-items: center;
}

.responsive{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1{
    border: 1px solid cyan;
    border-radius: 10%;
    background-color: cyan;
    padding: 5px;
}

.cara{
    padding: 10px;
} 

/* footer */

footer {
    background-color: black;
    color: white;
}

footer #contact {
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;
    height: 250px;
    border-bottom: 1px solid white;
}

div#contact #address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding-left: 40px;
}

div#address > #street {
    width: 300px;
    margin-bottom: 30px;
}

div#address span {
    font-size: 20px;
    font-weight: 600;
}

div#address > #phone {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

div#contact #social_media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    padding: 0px 40px;
    border-left: 3px solid white;
}

div#social_media #social {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

div#social_media div a {
    display: flex;
    align-items: center;
    color: white;
}

div#social_media a img {
    width: 35px;
    margin-right: 20px;
}

div#social_media div > img {
    width: 150px;
}

footer #copy {
    text-align: center;
    padding: 10px 0px;
    border-top: 1px solid white;
}
/* footer */