@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

* {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

/* navigasi menu */

#this_menu {
    color: #1CE11C;
}

nav {
    background-color: white;
    position: sticky;
    left: 0px;
    top: 0px;
}

nav > div.container {
    display: flex;
    padding: 10px 40px 10px 10px;
    justify-content: space-between;
}

nav div.menu {
    display: flex;
    width: 500px;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
}

nav a {
    color: black;
}

nav a:hover {
    color: #1CE11C;
}

#daftar_button {
    background-color: #1CE11C;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 50px;
}

#daftar_button:hover {
    background-color: transparent;
    color: #1CE11C;
    box-shadow: 0px 0px 0px 2px #1CE11C;
}

/* navigasi menu */

.gambar img{
    width: 120px;
    margin-top: 4%;
}

.gambar{
    display: flex;
    justify-content: center;
}

.atas{
    display: flex;
    justify-content: center;
    border-bottom: 2px solid black;
    width: 70%;
}

.atas a{
    margin: 20px 40px;
    color: black;
}

.atas a h3:hover {
    color: #1CE11C;
}

.daftar{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.kotak-daftar{
    border: 2px solid rgba(0, 0, 0, 0.493);
    width: 450px;
    display: flex;
    flex-direction: column;
    height: 350px;
    margin-top: 2%;
    border-radius: 10px;
}

.kotak2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tengah{
    display: flex;
    justify-content: center;
}

input{
    margin-bottom: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    width: 260px;
}

#daftar_btn{
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    border-radius: 50px;
    background-color: #1CE11C;
    font-weight: bold;
}

#daftar_btn:hover {
    box-shadow: 0px 0px 10px #1CE11C;
}

/* MASUK */

.kotak-login{
    border: 2px solid rgba(0, 0, 0, 0.493);
    width: 430px;
    display: flex;
    flex-direction: column;
    height: 300px;
    margin-top: 2%;
    border-radius: 10px;
}

#login_btn{
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    border-radius: 50px;
    background-color: #1CE11C;
    font-weight: bold;
}

#login_btn:hover {
    box-shadow: 0px 0px 10px #1CE11C;
}

.hide {
    display: none;
}
/* masuk */

/* modal */
.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal.show {
    display: block;
}

.modal-dialog {
    position: relative;
    width: auto;
    max-width: 400px;
    margin: 100px auto;
    padding: 0px 20px;
}

.modal-content {
    background-color: white;
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-header {
    font-size: 20px;
    /* text-align: center; */
    padding: 30px;
}

.modal-content > button {
    padding: 10px 30px;
    margin-bottom: 50px;
    border-radius: 7px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #1CE11C;
}

.modal-content > button:hover {
    background-color: #04C105;
}
/* modal */

/* responsive */

.mobile-menu{
    display: none;
}

#check {
    display: none ;
}

.sidebars{
    position: fixed;
    top: 85px;
    bottom: 0;
    left: -300px;
    width: 250px;
    height: 350px;
    background-color: white;
    transition: 0.4s;
    display: none;
}

.sidebars ul li a{
    color:black;
}

.sidebars ul li {
    padding: 24px;
}

.sidebars ul li:hover {
    background-color: #54FC54 ;
    transition: 0.5s;
}

#check:checked ~ .sidebars{
    left: 0px;
}

/* responsive */

@media screen and (max-width: 768px ){
/* sidebar */
    .mobile-menu{
        display: flex;
        align-items: center;
        padding: 0px 20px;
    }

    .container .menu{
        display: none;
    }

    .mobile-menu:hover {
        background-color: whitesmoke;
        cursor: pointer;
    }

    #daftar_button_sb {
        background-color: #1CE11C;
    }

    .sidebars{
        display: block;
    }
    
/* sidebar */

    .kotak-daftar {
        width: 400px;
    }

    .kotak-login {
        width: 380px;
    }
}