@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

*{
    font-family: "Open Sans", sans-serif;
}

body{
    margin: 0px;
}
.container{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

nav.navbar{
    background-color: white;
}

nav.navbar .navigation a:not(:last-child){
    margin-right: 25px;
    text-decoration: none;
    border: 1px solid transparent;

}

.navigation a.active{
    color: greenyellow;
}

nav.navbar .navigation a:not(.profil):not(.active):hover{
    background-color: greenyellow;
    border: 1px solid greenyellow;
    border-radius: 5px;
}

.logo a img{
    width: 100px;
}

nav.navbar > div.container{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a.button{
    text-decoration: none;
    color: black;
    border:1px solid greenyellow;
    padding: 10px 10px;
    border-radius: 7px;
    background-color: greenyellow;
}

.foto{
    margin: 10px;
}

.total{
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
}

a.beli{
    text-decoration: none;
    border: 2px solid greenyellow;
    padding: 5px 80px;
    background-color: greenyellow;
    color: white;
    border-radius: 7px;
    font-weight: 900;
}
