@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

* {
    font-family: "Open Sans", sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

/* navigasi menu */

#this_menu {
    color: #1CE11C;
}

nav {
    background-color: white;
    position: sticky;
    left: 0px;
    top: 0px;
}

nav > div.container {
    display: flex;
    padding: 10px 40px 10px 10px;
    justify-content: space-between;
}

nav div.menu {
    display: flex;
    width: 500px;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
}

nav a {
    color: black;
}

nav a:hover {
    color: #1CE11C;
}

nav a#daftar_button {
    background-color: #1CE11C;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 50px;
}

nav a#daftar_button:hover {
    background-color: transparent;
    color: #1CE11C;
    box-shadow: 0px 0px 0px 2px #1CE11C;
}

/* navigasi menu */


a.button{
    text-decoration: none;
    color: black;
    border:1px solid greenyellow;
    padding: 10px 10px;
    border-radius: 7px;
    background-color: greenyellow;
}

.foto{
    margin: 10px;
}

.total{
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
}

a.beli{
    text-decoration: none;
    border: 2px solid greenyellow;
    padding: 5px 80px;
    background-color: greenyellow;
    color: white;
    border-radius: 7px;
    font-weight: 900;
}

.notice{
    font-weight: bold;
    color: black;
}
