@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}

body{
    margin: 0px;
}
.container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

nav.navbar{
    background-color: white;
}

nav.navbar .navigation a:not(:last-child){
    margin-right: 25px;
    text-decoration: none;
    border: 1px solid transparent;
}

nav.navbar .navigation a:not(.profil):not(.active):hover{
    background-color: greenyellow;
    border: 1px solid greenyellow;
    border-radius: 5px;
}

.logo a img{
    width: 100px;
}

nav.navbar > div.container{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a.button{
    text-decoration: none;
    color: black;
    border:1px solid greenyellow;
    padding: 10px 10px;
    border-radius: 7px;
    background-color: greenyellow;
}

section.background{
    width: 100%;
    height: 300px;
    background: linear-gradient(to right, rgb(69, 240, 17) 20%,rgba(189, 105, 105, 0) 100%), url('../mulai_menanam.png') no-repeat;
    padding-top: 5%;
    background-size: cover;
}

p.atas{
    font-size: 30px;
    color: white;
    margin: 0px;
}

p.bawah{
    font-size: 15px;
    color: white;
}

.dalam{
    margin-left: 5%;
    width: 50%;

}

span.kuning{
    color: yellow;
}

section.bg_bawah{
    width: 100%;
    height: 207.5px;
    background-color: rgb(0, 0, 0);
    /* display: flex;
    flex-direction: row;
    align-items: center; */
}

div.bawah{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid white;
    margin: 0 5%;
}

.button_1{
    margin-left: 5%;
    text-decoration: none;
    border: 1px solid black;
    padding: 10px;
    border-radius: 40px;
    background-color: cyan;
    border-color:cyan;
    color: rgba(255, 255, 255, 0.911);
    font-weight: 800;
    font-size: 30px;
}

.jarak{
    margin-top: 50px;
}

img.logo_bawah{
    width: 10%;
    background-repeat: none;
    height: 10%;
    margin-left: 5%;
}

.tulisan_bawah{
    margin-left: 5%;
    margin-right: 10%;
    width: 30%;
}

.gambar{
    width: 10%;
    height: 30%;
    margin-left: 5%;
}

div.parent{
    display: flex;
}

.sosmed{
    display: flex;
    flex-direction: column;
    width: 20%;
    line-height: 10%;
    border-left: 1px solid white;
    border-width: 2px;
}

.parent img {
    margin-right: 10px;
}

.sosmed p{
    font-size: small;
}

.bottom p{
    text-align: center;
    font-size: small;
}
