@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

*{
    font-family: "Open Sans", sans-serif;
}
a {
    text-decoration: none;
}

body{
    margin: 0px;
}
.container{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

/* navigasi menu */

#this_menu {
    color: #1CE11C;
}

nav {
    background-color: white;
    position: sticky;
    left: 0px;
    top: 0px;
}

nav > div.container {
    display: flex;
    padding: 10px 40px 10px 10px;
    justify-content: space-between;
}

nav div.menu {
    display: flex;
    width: 500px;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
}

nav a {
    color: black;
}

nav a:hover {
    color: #1CE11C;
}

nav a#daftar_button {
    background-color: #1CE11C;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 50px;
}

nav a#daftar_button:hover {
    background-color: transparent;
    color: #1CE11C;
    box-shadow: 0px 0px 0px 2px #1CE11C;
}

/* navigasi menu */

section.background{
    width: 100%;
    height: 300px;
    background: linear-gradient(to right, rgb(69, 240, 17) 20%,rgba(189, 105, 105, 0) 100%), url(../image/mulai_menanam.png) no-repeat;
    padding-top: 5%;
    background-size: cover;
}

p.atas{
    font-size: 30px;
    color: white;
    margin: 0px;
}

p.bawah{
    font-size: 15px;
    color: white;
}

.dalam{
    margin-left: 5%;
    width: 50%;
}

.button{
    margin-left: 5%;
    text-decoration: none;
    border: 1px solid black;
    padding: 10px 50px;
    border-radius: 50px;
    background-color: #00FFFF;
    border: none;
    color: rgba(255, 255, 255, 0.911);
    font-weight: bold;
    font-size: 20px;
}

.button:hover {
    background-color: #00ecec;
    color: rgb(240, 240, 240);
}

.jarak{
    margin-top: 50px;
}

/* footer */

footer {
    background-color: black;
    color: white;
}

footer .container{
    display: flex;
    flex-direction: column;
}

footer #contact {
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;
    /* flex-wrap: wrap; */
    /* height: 250px; */
}

div#contact #address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 55px 35px;
    width: 580px;

}

div#address > #street {
    max-width: 300px;
    margin-bottom: 30px;
}

div#address span {
    font-size: 20px;
    font-weight: 600;
}

div#address > #phone {
    display: flex;
    justify-content: space-between;
    max-width: 300px;
}

div#contact #social_media {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 577px;
    padding: 0px 35px;
    border-left: 3px solid white;
}

div#social_media #social {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 252px;
}

div#social_media div a {
    display: flex;
    align-items: center;
    color: white;
    max-width: 1800px;
}

div#social_media a img {
    width: 35px;
    margin: 0px 20px 0px 0px;
}

div#social_media div > img {
    width: 150px;
    margin-left: 20px;
}

footer #copy {
    text-align: center;
    padding: 10px 0px;
    margin: 0px 15px;
    border-top: 2px solid white;
}
/* footer */