@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

*{
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

body{
    margin: 0px;
}
.container{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

/* navigasi menu */

#this_menu {
    color: #1CE11C;
}

nav {
    background-color: white;
    position: sticky;
    left: 0px;
    top: 0px;
}

nav > div.container {
    display: flex;
    padding: 10px 40px 10px 10px;
    justify-content: space-between;
}

nav div.menu {
    display: flex;
    width: 500px;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
}

nav a {
    color: black;
}

nav a:hover {
    color: #1CE11C;
}

#daftar_button {
    background-color: #1CE11C;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 50px;
}

#daftar_button:hover {
    background-color: transparent;
    color: #1CE11C;
    box-shadow: 0px 0px 0px 2px #1CE11C;
}

/* navigasi menu */

section.background{
    width: 100%;
    height: 300px;
    background: linear-gradient(to right, rgb(69, 240, 17) 20%,rgba(189, 105, 105, 0) 100%), url(../image/mulai_menanam.png) no-repeat;
    padding-top: 5%;
    background-size: cover;
}

p.atas{
    font-size: 30px;
    color: white;
    margin-bottom: 10px;
}

p.bawah{
    font-size: 15px;
    color: white;
}

.dalam{
    margin-left: 5%;
    width: 50%;
}

.button{
    margin-left: 5%;
    text-decoration: none;
    border: 1px solid black;
    padding: 10px 50px;
    border-radius: 50px;
    background-color: #00FFFF;
    border: none;
    color: rgba(255, 255, 255, 0.911);
    font-weight: bold;
    font-size: 20px;
}

.button:hover {
    background-color: #00ecec;
    color: rgb(240, 240, 240);
}

.jarak{
    margin-top: 50px;
}

/* footer */

footer {
    background-color: black;
    color: white;
}

footer #contact {
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;
    height: 250px;
    border-bottom: 1px solid white;
}

div#contact #address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding-left: 40px;
}

div#address > #street {
    width: 300px;
    margin-bottom: 30px;
}

div#address span {
    font-size: 20px;
    font-weight: 600;
}

div#address > #phone {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

div#contact #social_media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    padding: 0px 40px;
    border-left: 3px solid white;
}

div#social_media #social {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

div#social_media div a {
    display: flex;
    align-items: center;
    color: white;
}

div#social_media a img {
    width: 35px;
    margin-right: 20px;
}

div#social_media div > img {
    width: 150px;
}

footer #copy {
    text-align: center;
    padding: 10px 0px;
    border-top: 1px solid white;
}
/* footer */

/* responsive */
.mobile-menu{
    display: none;
}

#check {
    display: none ;
}

.sidebars{
    position: fixed;
    top: 85px;
    bottom: 0;
    left: -300px;
    width: 250px;
    height: 350px;
    background-color: white;
    transition: 0.4s;
    display: none;
}

.sidebars ul li a{
    color:black;
}

.sidebars ul li {
    padding: 24px;
}

.sidebars ul li:hover {
    background-color: #54FC54 ;
    transition: 0.5s;
}

#check:checked ~ .sidebars{
    left: 0px;
}

/* responsive */

@media screen and (max-width: 768px) {
/* sidebar */
    .mobile-menu{
        display: flex;
        align-items: center;
        padding: 0px 20px;
    }

    .container .menu{
        display: none;
    }

    .mobile-menu:hover {
        background-color: whitesmoke;
        cursor: pointer;
    }

    #daftar_button_sb {
        background-color: #1CE11C;
    }

    .sidebars{
        display: block;
    }

/* sidebar */
}

@media (max-width: 900px ){
    section.background{
        width: auto;
        height: auto;
        padding: 30px;
    }

    div .jarak{
        margin: 40px 0px;
    }

}

@media(max-width:820px){
    div#contact {
        display: flex;
        flex-direction: column;
        border-bottom: none;
    }

    div#contact #social_media {
        display: flex;
        flex-direction: row;
        border-left: none;
        padding: none;
        width: 80%;
        border-bottom: none;
    }

    div#contact #social_media a{
        margin-right: 20px;
        margin-bottom: 10px;
    }

    footer .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    div#phone{
        margin-bottom: 2vh;
    }

    div#copy{
        margin-top: 90px;
        border-top: 1px solid;
    }
}