@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

* {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

#this_menu {
    color: #1CE11C;
}

.container {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

nav.navbar {
    background-color: white;
    position: sticky;
    width: 100%;
    left: 0px;
    top: 0px;
}

nav.navbar > div.container {
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

nav.navbar div.menu {
    display: flex;
    width: 500px;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
}

nav.navbar a {
    color: black;
}

nav.navbar a:hover {
    color: #1CE11C;
}

nav.navbar #profil {
    filter: brightness(0);
}

nav.navbar #profil:hover {
    filter: none;
}

