@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

* {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

/* navigasi menu */

#this_menu {
    color: #1CE11C;
}

nav {
    background-color: white;
    position: sticky;
    left: 0px;
    top: 0px;
}

nav > div.container {
    display: flex;
    padding: 10px 40px 10px 10px;
    justify-content: space-between;
}

nav div.menu {
    display: flex;
    width: 500px;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
}

nav a {
    color: black;
}

nav a:hover {
    color: #1CE11C;
}

#profil {
    filter: brightness(0);
}

#profil:hover {
    filter: none;
}

/* navigasi menu */

/* konten */

section.container {
    max-width: 140px;
    text-align: center;
    font-size: 25px;
    border-bottom: 1px solid #1CE11C;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

form {
    padding: 0px 25px;
}

div.main {
    display: flex;
    justify-content: space-between;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.089);
    padding: 30px;
}

div.main > #foto {
    width: 50%;
    text-align: center;
}

div.main > #button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}

div.main #edit_button {
    background-color: #1CE11C;
    border-radius: 5px;
    color: black;
    font-weight: 600;
    padding: 5px 20px;
}

div.main #edit_button:hover {
    box-shadow: 0px 0px 10px #1CE11C;
}

div.main #logout_button {
    display: flex;
    align-items: center;
    border-radius: 5px;
    color: black;
    background-color: #F61B1B;
    padding: 5px 10px;
}

div.main #logout_button img {
    width: 20px;
}

div.main #logout_button:hover {
    box-shadow: 0px 0px 10px #F61B1B;
}

section#email {
    width: 100%;
    height: fit-content;
}

section#email div {
    width: 50%;
    text-align: center;
    font-size: 13px;
}

div.main > div#question {
    width: 50%;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 20px;
}

div.main > div#answer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 20px;
}

div.main > div#answer div {
    background-color: whitesmoke;
    color: #7a7a7a;
    font-size: 15px;
    width: 205px;
    padding: 8px 10px;
}

div.main >div#answer div.overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* konten */

/* responsive */

.mobile-menu{
    display: none;
}

#check {
    display: none ;
}

.sidebars{
    position: fixed;
    top: 85px;
    bottom: 0;
    left: -300px;
    width: 250px;
    height: 350px;
    background-color: white;
    transition: 0.4s;
    display: none;
}

.sidebars ul li a{
    color:black;
}

.sidebars ul li:not(:last-child) {
    padding: 24px;
}

.sidebars ul li:last-child {
    padding: 15px 24px;
}

.sidebars ul li:hover {
    background-color: #54FC54 ;
    transition: 0.5s;
}

#check:checked ~ .sidebars{
    left: 0px;
}

/* responsive */

@media screen and (max-width: 768px ){

/* sidebar */

    .mobile-menu{
        display: flex;
        align-items: center;
        padding: 0px 20px;
    }

    .container .menu{
        display: none;
    }

    .mobile-menu:hover {
        background-color: whitesmoke;
        cursor: pointer;
    }

    .sidebars{
        display: block;
    }

/* sidebar */
}

@media screen and (max-width: 580px) {
    div.main {
        padding: 20px;
    }

    #answer div {
        max-width: 185px;
    }
}