@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

* {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

/* navigasi menu */

#this_menu {
    color: #1CE11C;
}

nav {
    background-color: white;
    position: sticky;
    left: 0px;
    top: 0px;
}

nav > div.container {
    display: flex;
    padding: 10px 40px 10px 10px;
    justify-content: space-between;
}

nav div.menu {
    display: flex;
    width: 500px;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
}

nav a {
    color: black;
}

nav a:hover {
    color: #1CE11C;
}

#profil {
    filter: brightness(0);
}

#profil:hover {
    filter: none;
}

.daftar_button {
    background-color: #1CE11C;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 50px;
}

.daftar_button:hover {
    background-color: transparent;
    color: #1CE11C;
    box-shadow: 0px 0px 0px 2px #1CE11C;
}

/* navigasi menu */

/* konten */

div#header {
    background-color: #1CE11C;
    padding: 0px 25px;
}

div#header > div.container {
    font-size: 40px;
    font-weight: 600;
}

body > div.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 600px;
    margin-top: 20px;
}

#buy {
    margin: 20px 25px;
}

#sell {
    margin: 20px 25px;
}

div.status_header {
    background-color: #029D03;
    color: white;
    font-size: 25px;
    padding: 1px 10px;
}

div.status_beli, div.status_jual {
    display: flex;
    justify-content: space-between;
}

button {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 10px;
    font-size: 20px;
    align-items: center;
    color: black;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #1CE11C;
}

div.status_beli button:focus {
    background-color: #04C105;
}

div.status_jual button:focus {
    background-color: #04C105;
}

button:hover {
    background-color: #04C105;
}

div > .img1 {
    width: 40px;
}
div > .img2 {
    width: 43px;
}
div > .img3 {
    width: 63px;
}
div > .img4 {
    width: 63px;
}

div.pesanan {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    height: 150px;
    background-color: whitesmoke;
}
/* konten */

/* responsive */

.mobile-menu{
    display: none;
}

#check {
    display: none ;
}

.sidebars{
    position: fixed;
    top: 85px;
    bottom: 0;
    left: -300px;
    width: 250px;
    height: 350px;
    background-color: white;
    transition: 0.4s;
    display: none;
}

.sidebars ul li a{
    color:black;
}

.sidebars ul li:not(:last-child) {
    padding: 24px;
}

.sidebars ul li:last-child {
    padding: 15px 24px;
}

.sidebars ul li:hover {
    background-color: #54FC54 ;
    transition: 0.5s;
}

.sidebars img {
    filter: brightness(0);
}

#check:checked ~ .sidebars{
    left: 0px;
}

/* responsive */

@media screen and (max-width: 768px ){

/* sidebar */

    .mobile-menu{
        display: flex;
        align-items: center;
        padding: 0px 20px;
    }

    .container .menu{
        display: none;
    }

    .mobile-menu:hover {
        background-color: whitesmoke;
        cursor: pointer;
    }

    .sidebars{
        display: block;
    }

/* sidebar */

}